@import normalize
@import border-box

$main-blue: #00759c
$secondary-blue: #004a62
$third-blue: #3DB7E0

%site-width
  width: 90%
  max-width: 90%
  margin: 0 auto


a, a:visited
  text-decoration: none

*:focus
  outline: none

.container
  font-family: 'Open Sans', sans-serif
  letter-spacing: .1rem

.header
  background-color: $main-blue
  color: white
  display: flex

.header__branding
  @extend %site-width
  display: flex
  align-items: center
  justify-content: center
  border-bottom: 3px solid $secondary-blue

.header__logo
  max-width: 30%

.header__main-heading
  text-align: center
  font-size: 3rem

.search-area
  @extend %site-width
  padding: .5rem 0 .5rem 0
  display: flex

.search-input
  flex: 1
  padding: 10px

.content

  &__search
    background-color: $main-blue

  &__articles
    @extend %site-width
    display: flex
    flex-wrap: wrap
    justify-content: space-between


.filter-area
  @extend %site-width

.article-card
  width: 400px
  margin: 1rem auto
  background-color: $secondary-blue

  &__header
    color: white
    padding: 1rem
    height: 210px
    position: relative
    display: flex
    align-items: center
    text-align: center

  &__image
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 100%
    opacity: .2
    filter: blur(3px)

  &__title
    z-index: 3

  &__date
    background: $third-blue
    padding: .3rem
    width: 30%
    position: absolute
    top: 0
    left: 0
    text-align: center
    transform: translate(-3px, -3px)

  &__tag
    background-color: $third-blue
    text-align: right
    padding: .3rem
    width: 30%
    position: absolute
    bottom: 0
    right: 0
    text-align: center
    transform: translate(3px, 3px)

  &__ingress
    padding: 1rem
    border-left: 3px solid $secondary-blue
    border-right: 3px solid $secondary-blue
    border-bottom: 3px solid $secondary-blue
    height: 150px
    color: $secondary-blue
    background-color: white
    z-index: 2




.arrow
  display: inline-block
  padding-left: .5rem

.search-input
  border: 0

.filter
  background-color: $third-blue
  color: white
  border: 0
  letter-spacing: .1rem

.filter-area
  display: flex
  flex-wrap: wrap
  background-color: $secondary-blue
  padding: 1rem

.filter-area__button
  background-color: white
  color: $secondary-blue
  border: 0
  margin: .3rem
  padding: .2rem .4rem

.filter-area__button--remove
  background-color: $third-blue
  color: white
  border: 0
  margin: .3rem

.footer
  width: 100%
  height: 50px
  background-color: #414042
  color: white
  display: flex
  justify-content: center
  align-items: center
  margin-top: 3rem

.good-bye
  color: white
  font-size: 2rem

@media screen and (max-width: 850px)
  .header__main-heading
    font-size: 2rem
